<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>React 16, styled-components &amp; webpack 4 boilerplate | starbase-react</title>
  <meta name="description" content="Start coding in minutes with the latest version of React, styled-components &amp; webpack. check it out on GitHub!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fefefe">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="root"></div>
</body>
</html>
