#header {
  & > h1 {
    margin-top: 0;
  }
}

#nav {
  & > ul {
    padding-left: 0;

    & > li {
      display: inline-block;
      margin-right: 1rem;

      &::after {
        content: "|";
        padding-left: 1rem;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }
}
