#header {
  & img {
    float: left;
    margin-right: 0.5rem;
    max-height: 2.5rem;
  }

  & h1 {
    font-family: var(--font-serif);
    margin-top: 0;
  }
}

#nav {
  & > ul {
    padding-left: 0;

    & > li {
      display: inline-block;
      margin-right: 1rem;

      &::after {
        content: "|";
        padding-left: 1rem;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }
}
